h1{
    color: yellow;
}

p{
    font-size: 18px;
    color: blue;
    text-align: center;
    font-weight: bold;
}

navbar {
    background-color: #333;
    overflow: hidden;
}

body{
    background-color: white;
    margin: 20px;
    padding: 20px;
}